{% extends 'GarlicBlogAppBundle::layout.html.twig' %}

{% block content %}
    <div class="row-fluid">
    
        <div class="col-md-3" id="left_nav">
            <div class="panel panel-default">
                
                <div class="panel-heading">
                        <label>Sort by:</label>
                        <span>
                            <select class="form-control" id="category_select">
                                <option>Post Time</option>
                                <option>Category</option>
                                <option>Most liked</option>
                            </select>
                        
                        </span>
                </div>
                
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="badge">14</span>
                    Cras justo odio
                  </li>
                  <li class="list-group-item active">
                    <span class="badge">12</span>
                    Cras justo odio
                  </li>
                  <li class="list-group-item">
                    <span class="badge">12</span>
                    Cras justo odio
                  </li>
                  <li class="list-group-item">
                    <span class="badge">12</span>
                    Cras justo odio
                  </li>
                </ul>
              
            </div>
        </div>
        
        <div class="col-md-6" id="blog_list">
            <ul class="list-group">
                {% if userId is defined %}
                    <li class="list-group-item" id="add_new_article">
                      <div class="row-fluid">
                        <h3>
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            <span id="glyphicon_message">Write something today?</span>
                        </h3>
                      </div>
                    </li>
                    <div class="article-divider"></div>
                {% endif %}
                
                {% for article in articles %}
                    <li class="list-group-item list_article" 
                        id = {{"article_" ~ article.id}} 
                        data-article-id = {{ article.id }}
                        data-author-id = {{ article.authorid }}>
                        
                        <div class="row">
                            <div class="col-md-2">
                                <div class="row-fluid">
                                    {% if article.author_avatar is defined and article.author_avatar is not empty %}
                                        <img src={{ asset('avatars/' ~ article.author_avatar) }} style="width:48px;height:48px"/>
                                    {% else %}
                                        <img src={{ asset('avatars/' ~ default_avatar) }} style="width:48px;height:48px"/>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class='row'>
                                    <b>{{ article.username }}</b>
                                </div>
                                <div class='row'>
                                    <p>Posted {{ article.posttime | date('Y-m-d H:i:s') }}</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                {% if userId is defined and article.authorid == userId %}
                                    <div class="pull-right icon_delete">
                                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                    </div>
                                {% else %}
                                    <div class="pull-right icon_favorite">
                                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        
                        <br/>
                        <div class="row-fluid">
                            <h3>{{ article.title }}</h3>
                            <div class="pull-right">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                <span id="glyphicon_message">{{ article.likenum }}</span>
                            </div>
                            <div class="pull-right">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                <span id="glyphicon_message">{{ article.readnum }}</span>
                            </div>
                            
                        </div>
                        
                        <div class="content-divider"></div>
                        <p class="list-group-item-text" style="word-wrap: break-word;">{{ article.intro }}</p>
                        <div class="content-divider"></div>
                        <div class="row">
                            <div class="col-md-3">
                                <p>
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    <span id="post_message">Comment</span>
                                </p>
                            </div>
                        </div>
                      </li>
                      <div class="article-divider"></div>
                {% endfor %}
            </ul>
        </div>
        
        <div class="col-md-3" id="friends_list">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Recent: <span class="badge" style="float:right;">14</span></h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
              <div class="panel-heading">
                <h3 class="panel-title">Followed: <span class="badge" style="float:right;">14</span></h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
            </div>
        </div>
        
        
    </div>
{% endblock %}